

<footer class="bd-footer text-muted">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a class="nav-link">Stock API App</a></li>
      <li><a class="nav-link hidden-xs-down" href="#">Demo</a></li>
      <li><a class="nav-link hidden-xs-down" href="#">Documentation</a> </li>
      <li><a class="nav-link float-xs-right" href="#">Download</a> </li>
    </ul>
    <p>Designed and built by Yuhao Feng</p>
  </div>
</footer>