

<div class="pos-f-t">
    <div class="navbar navbar-light bg-faded navbar-static-top">
         <div class="container">
              <div style="margin: 12px 0;">
                  <nav class="nav nav-inline">
                    <a class="nav-link">Stock API App</a>
                    <a class="nav-link hidden-xs-down" href="#">Demo</a>
                    <a class="nav-link hidden-xs-down" href="#">Documentation</a>
                    <a class="nav-link float-xs-right" href="#">Download</a>
                  </nav>
              </div>
         </div>
    </div>
</div>