.symbolName {
    font-style: italic;
    color: inherit;
    cursor: pointer;
}

.btnTrans:hover {
    cursor: pointer;
}

.colorGrey {
    color: #94999c;
}

.alertBox {
    display: none;
}

.alertBox .open{
    display: inline;
}

.symbolTitle {
    font-size: 12px;
    color: #94999c;
    cursor: pointer;
}

.toggleOpen {
    display: inline;
    opacity: 1;
    transition: opacity 0.37s linear;
}

.toggleClose {
    display: hidden;
    opacity: 0;
    transition: display 0s 0.12s, opacity 0.12s linear;
    height: 0;
}

.stockDetail {
    display: inline;
    opacity: 1;
    transition: display 0s 0.37s, opacity 0.37s linear;
    height: 20px;
}