<!DOCTYPE HTML>

<html>

<head>
    <% include ../partials/header %>
</head>

<body style="padding: 0;">
    <% include ../partials/navbar %>


    <div class="container">
        welcome to the Index page
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <% include ../partials/footer %>
</body>

</html>